# Python
*.pyc
__pycache__
myenv/
venv/
.venv/
dist/

# JavaScript
node_modules/
.npm/
package-lock.jsonyarn.lock
.pnp/
.pnp.js

#react, vite and production build outputs
/build
/frontend/dist/

# environment config
.env
/flaskenv

#docker and py related
*.log

#misc
DS_Store

#testing
/coverage
pytest_cache/

#others
Todo.md
test.html
